/Exercicio_028/build/
/Exercicio_029/nbproject/private/
/Exercicio_029/build/
/Exercicio_030/nbproject/private/
/Exercicio_030/build/
/Exercicio_031/nbproject/private/
/Exercicio_031/build/
/JavaApplication5/nbproject/private/
/Exercicio_035/nbproject/private/
/Exercicio_035/build/
/Exercicio_036/nbproject/private/
/Exercicio_036/build/
